<!--module dropdown-->
<li class="nav-item dropdown">
    <!--dropdown title-->
    <a
        class="nav-link dropdown-toggle"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        >Modules</a
    >
    
    <div class="dropdown-menu">
        <!--dropdown items-->       
        <a class="dropdown-item" href="/commands/house">House</a>
    </div>
</li>